* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* sfondo regole */
.topGreen {
    width: 100%;
    height: 20%;
    background-color: #037166;
}

.grey {
    width: 100%;
    height: 80%;
    background-color: #dadbd4;
}

/*Container App*/
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #b1b1b1;
    align-self: center;
}

.left_panel {
    background-color: white;
    padding: 0;
    border: solid 1px lightgray;
}

.right_panel {
    background-color: white;
    height: 80vh;
    padding: 0;
    border: solid 1px lightgray;
    border-left: none;
}

.profile_panel {
    height: 15%;
    background-color: #eaeaea;
    width: 100%;
}

.user_chat {
    background-color: white;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}

.notification_panel {
    height: 15%;
    background-color: #8edbfd;
}

.bell_rounded {
    border-radius: 50%;
    background-color: white;
}

a {
    color: grey;
}

.srcbar_panel {
    height: 13%;
    padding: 0;
}

.navbar {
    width: 100%;
}

.btnsrc {
    background-color: white;
    border-right: none;
    border-top: solid 1px lightgray;
    border-left: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    border-radius: 5%;
}

.srcbar {
    border: solid 1px lightgray;
    border-radius: 5%;
}



.grey_text {
    font-size: 13px;
}

.chat_box {
    height: 85%;
    background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
    background-size: cover;
}

.sent_messages {
    background-color: #d5f8bb;
}

.received_messages {
    background-color: white;
    border-radius: 3%;
}